/* App.css */

/* Reset some default browser styles */
body {
  margin: 0;
  background-color: #215e73;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Container class to center content and add padding */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header style */
header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

/* Footer style */
footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
